<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>News Evaluation</title>
        <script src="https://use.fontawesome.com/releases/v5.14.0/js/all.js" data-auto-a11y="true"></script>
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('./service-worker.js');
                });
            }
        </script>
    </head>

    <body>

        <header>
            <div class="appLogo">
                <span class="fa-layers fa-fw fa-2x">
                  <i class="far fa-newspaper"></i>
                  <i class="fas fa-search" data-fa-transform="shrink-7 down-4.2 right-8"></i>
                </span>
            </div>
        </header>

        <main>
            <section>
                <form class="urlEntryForm needs-validation" novalidate>
                    <label for="userUrl">Enter the url of the article or blog:</label><br>
                    <input id="userUrl" type="text" name="input" value=""  placeholder="The url should start with https:// or http://" pattern="[(http(s)?):\/\/(www\.)?a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)" required>
                    <div class="validation-text"></div>
                    <button type="button" id="evaluate" name="" value="submit"> Evaluate </button>
                </form>
            <section>

            <section class="resultsSec">
                <h1>Results:</h1>
                <div id="results">
                    <!-- evaluation goes here -->
                </div>
            </section>
        </main>

        <!-- Footer -->
        <footer class="page-footer">
          <div class="footer-rights">
            &copy All Right Reserved
          </div>

          <div class="footer-social">
            <a href="#"><i class="fab fa-facebook-f"> </i></a>
            <a href="#"><i class="fab fa-twitter"> </i></a>
            <a href="#"><i class="fab fa-linkedin-in"> </i></a>
          </div>
        </footer>

    </body>
</html>
