<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>News Evaluation</title>
        <script src="https://kit.fontawesome.com/16a203686b.js" crossorigin="anonymous"></script>
    </head>

    <body>

        <header>
            <div class="appLogo">
                <span class="fa-layers fa-fw fa-2x">
                  <i class="far fa-newspaper"></i>
                  <i class="fas fa-search" data-fa-transform="shrink-11 down-4.2 right-4"></i>
                </span>
            </div>
        </header>
        <div class="fa-4x">
            <span class="fa-layers fa-fw" style="background:MistyRose">
                <i class="fas fa-play" data-fa-transform="rotate--90 grow-2"></i>
                <i class="fas fa-sun fa-inverse" data-fa-transform="shrink-10 up-2"></i>
                <i class="fas fa-moon fa-inverse" data-fa-transform="shrink-11 down-4.2 left-4"></i>
                <i class="fas fa-star fa-inverse" data-fa-transform="shrink-11 down-4.2 right-4"></i>
              </span>
              <span class="fa-layers fa-fw" style="background:MistyRose">
                <i class="fas fa-bookmark"></i>
                <i class="fa-inverse fas fa-heart" data-fa-transform="shrink-10 up-2" style="color:Tomato"></i>
              </span>
        </div>

        <main>
            <section>
                <form class="urlEntryForm needs-validation" novalidate>
                    <label for="userUrl">Enter the url of the article or blog:</label><br>
                    <input id="userUrl" type="text" name="input" value=""  placeholder="The url should start with https:// or http://" pattern="[(http(s)?):\/\/(www\.)?a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)" required>
                    <div class="validation-text"></div>
                    <button type="button" id="evaluate" name="" value="submit"> Evaluate </button>
                </form>
            <section>

            <section>
                <strong>Form Results:</strong>
                <div id="results">
                    <!-- evaluation goes here -->
                </div>
            </section>
        </main>

        <!-- Footer -->
        <footer class="page-footer">
          <div class="footer-rights">
            &copy All Right Reserved
          </div>

          <div class="footer-social">
            <a href="#"><i class="fab fa-facebook-f"> </i></a>
            <a href="#"><i class="fab fa-twitter"> </i></a>
            <a href="#"><i class="fab fa-linkedin-in"> </i></a>
          </div>
        </footer>

    </body>
</html>
