@import 'resets';
@import 'header';
@import 'footer';
@import 'form';

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: url(../imgs/3.jpg);
    background-size: cover;
}

main {
    flex: 2;
}

section {
    max-width: 800px;
    margin: 50px auto;
    border: 2px solid rgba(132, 132, 130, 1);
    border-radius: 3px;
    padding: 40px;
    background-color: rgba(132, 132, 130, 0.8);
}
