form {
    border: 2px solid rgba(225, 222, 217, 1);
    border-radius: 3px;
    padding: 40px;
    background-color: rgba(225, 222, 217, 0.4);

    label {
    	font-family: monospace;
    	font-size: 1.2em;
    	font-weight: bold;
    	color: #2b2a2a;
    }

    input {
	    padding: 5px 20px;
	    width: 100%;
	    line-height: 20px;
	    margin: 10px 0;
	    border: .5px solid #A9A9A9;
	    border-radius: 5px;
	}

	.validation-text {
		display: none;
	}
}

.was-validated {
	input {
		border: 1px solid #C70039;
	}

	.validation-text {
		display: block;
		color: #C70039;
	}
}
